h1 {
  color: darkblue;
  font-size: 40px;
  margin: 0;
  padding: 0;

}

  input {
    display: contents;

  }


  body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;

  }

  .calender{
    box-shadow: 0 0 12px coral;

    &__header{
      height: 50px;
      background-color: darksalmon;
      text-align: center;
      justify-content: center;
      padding-top: 20px;


    }

    &__dayName {
      color: darkblue;
      text-align: center;
      padding-top: 12px;
      font-size: 20px;
      background-color: darksalmon;
      padding: 20px;

    }

    &__days {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 0px;
      font-size: 20px;
      padding-right: 0px;
      padding-left: 0px;


      label {
        padding: 10px;
        width: 60px;
        text-align: center;
      }

      input {
        display: contents;
      }

      &-work {
        cursor: pointer;

        &:hover {
          color: antiquewhite;
          background: chartreuse;
        }
        &:focus {
          color: antiquewhite;
          background: cornflowerblue;
        }
      }

      &-off {
        cursor: pointer;

        &:hover {
          color: antiquewhite;
          background: coral;
        }

        &:focus {
          color: antiquewhite;
          background: brown;
        }
      }

      &-holiday {
        cursor: pointer;
        color: red;

        &:hover {
          color: antiquewhite;
          background: coral;
        }

        &:focus {
          color: antiquewhite;
          background: brown;
        }
      }


      &-preMonth {
        background: bisque;
        color: darkblue;
        cursor: not-allowed;
      }

      &-nextMonth {
        background: bisque;
        color: darkblue;
        cursor: not-allowed;
      }

    }
  }

